<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6" ng-controller="ManufacturerCtrl">
      <div class="manufacturer-list">
        <table class="table table-striped">
          <tr>
            <th>Name</th><th>URL</th>
          </tr>
          <tr ng-repeat="manufacturer in manufacturers">
            <td id="manufacturer-{{manufacturer.id}}">{{manufacturer.name}}</td><td><a href="{{manufacturer.url}}" target="_blank">{{manufacturer.url}}</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="span6" ng-controller="SupplierCtrl">
      <div class="supplier-list">
        <table class="table table-striped">
          <tr>
            <th>Name</th><th>URL</th>
          </tr>
          <tr ng-repeat="supplier in suppliers">
            <td id="supplier-{{supplier.id}}">{{supplier.name}}</td><td><a href="{{supplier.url}}" target="_blank">{{supplier.url}}</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>