<div class="container-fluid">
  <div ng-controller="ManufacturerCtrl">
    <div class="row-fluid">
      <div class="span4">
        <h2>Manufacturers</h2>
      </div>
      <div class="span8">
        <form name="newManufacturer" class="form-inline index-form" ng-submit="addManufacturer()" novalidate>
          <label for="manufacturer-name">Name</label>
          <input type="text" id="manufacturer-name" ng-model="newManufacturer.name" required unique>
          <label for="manufacturer-url">URL</label>
          <input type="url" name="manufacturerUrl" id="manufacturer-url" ng-model="newManufacturer.url">
          <input type="submit" value="Add" class="btn" ng-disabled="newManufacturer.$invalid">
          <span ng-show="newManufacturer.input.$error.required">A name is required.</span>
          <span ng-show="newManufacturer.input.$error.unique-username">Name must be unique.</span>
          <span ng-show="newManufacturer.$error.url">A valid URL is required.</span>
        </form>
      </div>
    </div>
    <div class="row-fluid">
      <div class="manufacturer-list">
        <table class="table table-striped">
          <tr>
            <th>Name</th><th>URL</th>
          </tr>
          <tr ng-repeat="manufacturer in manufacturers">
            <td id="manufacturer-{{manufacturer.id}}">{{manufacturer.name}}</td><td><a href="{{manufacturer.url}}" target="_blank">{{manufacturer.url}}</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
