<div class="container-fluid">
  <div ng-controller="SupplierCtrl">
    <div class="row-fluid">
      <div class="span4">
        <h2>Suppliers</h2>
      </div>
      <div class="span8">
        <form name="newSupplier" class="form-inline index-form" ng-submit="addSupplier()" novalidate>
          <label for="supplier-name">Name</label>
          <input type="text" id="supplier-name" ng-model="newSupplier.name" required unique>
          <label for="supplier-url">URL</label>
          <input type="url" name="supplierUrl" id="supplier-url" ng-model="newSupplier.url">
          <input type="submit" value="Add" class="btn" ng-disabled="newSupplier.$invalid">
          <span ng-show="newSupplier.input.$error.required">A name is required.</span>
          <span ng-show="newSupplier.input.$error.unique-username">Name must be unique.</span>
          <span ng-show="newSupplier.$error.url">A valid URL is required.</span>
        </form>
      </div>
    </div>
    <div class="row-fluid">
      <div class="supplier-list">
        <table class="table table-striped">
          <tr>
            <th>Name</th><th>URL</th>
          </tr>
          <tr ng-repeat="supplier in suppliers">
            <td id="supplier-{{supplier.id}}">{{supplier.name}}</td><td><a href="{{supplier.url}}" target="_blank">{{supplier.url}}</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
