<!DOCTYPE html>
<html lang="en" ng-app="Tonerable">
<head>
  <title>Tonerable</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= viewport_tag 1.0 %>
</head>
<body>
 <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Tonerable</a>
        <div class="nav-collapse collapse navbar-inverse-collapse">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/suppliers">Suppliers</a></li>
            <li><a href="/manufacturers">Manufacturers</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>

<%= yield %>

</body>
</html>
